In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
theta_180_1 = pd.read_csv('180_theta_1.csv')
theta_180_1.head()

   xAccl  yAccl  zAccl  newPosition    time      pcTime
0    986    -18   -139            0  346578  440.011024
1   1004     -9    -20            0  371496  464.955807
2    852     33    187            0  396496  490.056992
3    977   -134    298            0  421500  514.984846
4    498     88    594            0  446507  540.004730